.body{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.sitemain{
    border-radius: 1rem;
    color:rgb(247, 243, 243) ;
    background-image: url("./banner.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #f5520524;
    height: 400px;
    margin-top:1rem ;
    margin-bottom:1rem;
    position: relative;
}
/*    didascalia */
.didascalia{
    margin-left: 2rem;
    position: absolute;
    bottom: 4rem;
   }
.contain{
    
    width: 100%;
    
}

.top{
    height:50px;
    margin-bottom: 1rem;
}
.left, .rigth{
    width: 23%;
    float:left
}
.midle{
    width: 50%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;   
}
.img, .imgleft, .imgmiddle, .imgrigth{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat:no-repeat ;
    border-radius: 1rem;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #f5520524;
}

.bottom{
    text-align: center;
    height:50px;
    margin-top: 3px; 
}

/* --logo*/
.logo{
    width: 150px;
    margin-top: 3px;
    margin-bottom: 1rem;
}

.menu {
    margin-right: 1rem; 
    margin-bottom: 2rem; 
}
/*--- immagini sfondo banner*/



/*immagine sinistra    */
.imgleft{
    background-image: url("./img-1.jpg"); 
}   
/* imagine centro*/
.imgmiddle{
    background-image: url("./banner-2.jpg"); 
}

/* img destra*/
.imgrigth{
    background-image: url("./img-3.jpg");
} 
.testo{
    color: rgb(174, 171, 171);
    
}
h3{
    color: rgb(128, 126, 126);
    margin-bottom: 1rem;
    margin-top: 1rem;

}